<h1><%= t('page.headers.new_order') %></h1>

<%= render 'form' %>

<hr>
<%= render partial: 'layouts/animated_button', locals: {
  name:          t('page.controllers.submit'),
  icon_class:    "send icon",
  clickCallback: "$('#order-form').submit();"
} %>
<%= render partial: 'layouts/animated_button', locals: {
  name:          t('page.controllers.back'),
  icon_class:    "reply icon",
  clickCallback: "window.location.href = '#{orders_path}'"
} %>
