jQuery.fn.extend({
  add_to_cart: function () {
    var DEBUG = false;

    // makes sure it picks the item name
    // instead of 'Select Product' in semantic framework
    var itemName   = $('div.selected').text();
    var itemValue  = $('#item_value').val();
    var itemAmount = $('#item_amount').val();
    var itemTotal  = $('#item_total').val();

    if (DEBUG) {
      console.log(itemName);
    }

    if (itemName != '' && itemAmount != '') {
      // avoid duplicated entries on the table
      var duplicated = false;

      $('td').each(function() {
        var text = $(this).text();

        if (DEBUG) {
          console.log(text);
        }

        if (text == itemName) {
          duplicated = true;
        }
      });

      if (!duplicated) {
        $(this).append("<tr><td>" + itemName + "</td>\n<td>" + itemValue +
        "</td>\n<td amount-for="+itemName+">" + itemAmount +
        "</td>\n<td total-for="+itemName+">"+itemTotal + "</td></tr>\n");
      } else {
        var amountColumn  = $('td[amount-for="'+itemName+'"]');
        var totalColumn   = $('td[total-for="'+itemName+'"]');
        var newAmount     = parseInt(amountColumn.text()) + parseInt(itemAmount);

        amountColumn.text(newAmount);
        totalColumn.text((newAmount * parseFloat(itemValue)).toFixed(2));

        if (DEBUG) {
          console.log('duplicated');
        }
      }
    }
  }
});
