<div class="span8">
  <h1><%= fa_icon 'bar-chart', text: t('page.headers.graphic') %></h1>
  <hr>
  <table>
    <tr>
      <td>
        <%= image_tag @barv%>
        <%= image_tag @bar%>
        <%= image_tag @barc%>
      </td>
    </tr>
  </table>
  <hr>
</div>
