<%= link_to button_path, method: method do %>
  <div class="ui vertical animated black button">
    <div class="visible content"><i class="<%= icon_class %>"></i></div>
    <div class="hidden content"><%= name %></div>
  </div>
<% end %>
