<div class="col-md-offset-2 col-md-8">
  <h1><%= t('page.headers.listing_products') %></h1>

  <%= render partial: 'list_products', locals: {products: @products} %>

  <hr>

  <%= link_to t('page.controllers.new'), new_product_path, class: "btn btn-primary" %>
</div>
