<h1><%= t('page.headers.listing_products') %></h1>

<%= render partial: 'list_products', locals: {products: @products} %>

<hr>

<%= render partial: 'button',
    locals:  {
      name: t('page.controllers.new'),
      button_path: new_product_path,
      icon_class: "inverted white plus icon",
      method: :get
    }
%>
