<div class="container segments">
  <div class="container segment">
  <h2 class='ui header'>
    Name: <%= @product.name %>
  </h2>
  <h2 class='ui header'>
    Value: <%= convert_number_to_money @product.value %>
  </h2>
  </div>

  <hr>

  <div class="container segment">
    <%= render partial: 'layouts/animated_button', locals: {
      name:          t('page.controllers.edit'),
      icon_class:    "write icon",
      clickCallback: "window.location.href = '/products/#{@product.id}/edit'"
    } %>

    <%= render partial: 'layouts/animated_button', locals: {
      name:          t('page.controllers.back'),
      icon_class:    "reply icon",
      clickCallback: "window.location.href = '/'"
    } %>
  </div>
</div>
