<div class="ui vertical animated blue button" onclick="<%= clickCallback %>">
  <div class="visible content"><i class="<%= icon_class %>"></i></div>
  <div class="hidden content"><%= name %></div>
</div>
